.nav-li-style {
  font-size: 17px;
  font-family: "Archivo Narrow", sans-serif; }

.font-size-icons {
  font-size: 45px; }

* {
  margin: 0;
  padding: 0; }

nav {
  background: linear-gradient(to right, RGB(255, 0, 212, 0.9), RGB(228, 245, 0, 0.9), RGB(0, 147, 245, 0.9), RGB(8, 245, 0, 0.9)); }
  nav .logo {
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 48px;
    font-family: 'Kaushan Script', cursive;
    text-shadow: black 3px 2px;
    text-decoration: none;
    margin: 0; }
  nav a {
    color: #ffff !important; }

li a:hover {
  transition: 0.3s !important;
  color: #303030 !important;
  font-size: 17.5px; }

.body_biografia {
  background: url(../imagenes/f7.jpg);
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat; }

.body_biografia:before {
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8; }

.position_1 {
  position: relative; }
  .position_1 .text_color {
    color: white; }
    .position_1 .text_color h1 {
      font-size: 50px;
      font-family: 'Kaushan Script', cursive; }
    .position_1 .text_color p {
      font-size: 20px;
      font-family: "Archivo Narrow", sans-serif; }

.tc1 {
  position: relative; }
  .tc1 h1 {
    color: white;
    font-size: 58px;
    font-family: 'Kaushan Script', cursive; }

.tables {
  position: relative; }
  .tables .subt h2 {
    color: white;
    font-size: 20x;
    font-weight: 750; }
  .tables .subt h3 {
    color: white;
    font-size: 25px;
    font-weight: 750; }
  .tables tr {
    color: white;
    font-size: 16px; }
    .tables tr td a {
      text-decoration: none;
      color: white;
      font-weight: 700; }
    .tables tr td a:hover {
      color: #707070;
      transition: 0.2s;
      font-size: 15.5px; }

.body_conciertos {
  background: url(../imagenes/f1.jpg);
  background-attachment: fixed;
  background-size: 1920px;
  position: relative;
  background-repeat: no-repeat; }

.body_conciertos:before {
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8; }

.body_playlist {
  height: auto;
  background: url(../imagenes/f8.jpg);
  background-attachment: fixed;
  background-size: 1920px;
  position: relative; }

.body_playlist:before {
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8; }

.contenedor {
  position: relative;
  height: auto;
  display: grid;
  grid-template-areas: "text1 text1 link link" "frame1 frame2 frame3 frame4"; }
  .contenedor .caja-1 {
    margin: 5vw;
    color: #ffff;
    grid-area: text1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .contenedor .caja-1 h1 {
      font-family: 'Kaushan Script', cursive; }
    .contenedor .caja-1 p {
      font-size: 20px;
      font-family: "Archivo Narrow", sans-serif; }
  .contenedor .caja-2 {
    margin: 3vw;
    grid-area: link;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contenedor .caja-2 .perfil {
      display: flex;
      background: #002400;
      width: 230px;
      height: 55px;
      justify-content: center;
      align-items: center;
      border-radius: 15px; }
      .contenedor .caja-2 .perfil img {
        max-width: 45px;
        margin-right: 30px; }
      .contenedor .caja-2 .perfil p {
        color: white;
        padding: 0;
        margin: 0;
        margin-left: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      .contenedor .caja-2 .perfil .seguir {
        display: flex;
        justify-content: center;
        align-items: center; }
      .contenedor .caja-2 .perfil .seguir img {
        margin: 0;
        padding: 0;
        width: 20px;
        border-radius: 50%; }
      .contenedor .caja-2 .perfil .seguir a {
        text-decoration: none;
        color: white;
        margin-left: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 11px; }
  .contenedor .caja-3 {
    grid-area: frame1;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedor .caja-4 {
    grid-area: frame2;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedor .caja-5 {
    grid-area: frame3;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedor .caja-6 {
    grid-area: frame4;
    display: flex;
    justify-content: center;
    align-items: center; }

@media screen and (max-width: 1274px) {
  .contenedor {
    position: relative;
    display: grid;
    grid-template-areas: "text1 text1 text1" "link link link" "frame1 frame2 frame3" "frame4 frame4 frame4"; }
    .contenedor .caja-1 {
      color: #ffff;
      grid-area: text1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .contenedor .caja-2 {
      grid-area: link;
      display: flex;
      justify-content: center;
      align-items: center; }
    .contenedor .caja-3 {
      grid-area: frame1; }
    .contenedor .caja-4 {
      grid-area: frame2;
      display: flex;
      justify-content: center;
      align-items: center; }
    .contenedor .caja-5 {
      grid-area: frame3;
      display: flex;
      justify-content: center;
      align-items: center; }
    .contenedor .caja-6 {
      grid-area: frame4;
      display: flex;
      justify-content: center;
      align-items: center; } }

@media screen and (max-width: 927px) {
  .contenedor {
    position: relative;
    display: grid;
    grid-template-areas: "text1 text1" "link link" "frame1 frame2 " "frame3 frame4"; }
    .contenedor .caja-1 {
      color: #ffff;
      grid-area: text1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .contenedor .caja-2 {
      grid-area: link;
      display: flex;
      justify-content: center;
      align-items: center; }
    .contenedor .caja-3 {
      grid-area: frame1; }
    .contenedor .caja-4 {
      grid-area: frame2;
      display: flex;
      justify-content: center;
      align-items: center; }
    .contenedor .caja-5 {
      grid-area: frame3;
      display: flex;
      justify-content: center;
      align-items: center; }
    .contenedor .caja-6 {
      grid-area: frame4;
      display: flex;
      justify-content: center;
      align-items: center; } }

@media screen and (max-width: 640px) {
  .contenedor {
    height: auto;
    position: relative;
    display: grid;
    grid-template-areas: "text1" "link" "frame1" "frame2 " "frame3"  "frame4"; }
    .contenedor .caja-1 {
      color: #ffff;
      grid-area: text1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .contenedor .caja-2 {
      grid-area: link;
      display: flex;
      justify-content: center;
      align-items: center; }
    .contenedor .caja-3 {
      grid-area: frame1; }
    .contenedor .caja-4 {
      grid-area: frame2;
      display: flex;
      justify-content: center;
      align-items: center; }
    .contenedor .caja-5 {
      grid-area: frame3;
      display: flex;
      justify-content: center;
      align-items: center; }
    .contenedor .caja-6 {
      grid-area: frame4;
      display: flex;
      justify-content: center;
      align-items: center; } }

.galeria {
  position: relative; }
  .galeria .text-4 {
    color: #ffff; }

.body_galeria {
  background: url(../imagenes/f11.jpg);
  background-attachment: fixed;
  background-size: 1920px;
  background-repeat: no-repeat;
  position: relative; }

.body_galeria:before {
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6; }

.contact {
  position: relative; }
  .contact .text {
    color: #ffff; }

.body_contacto {
  height: auto;
  background: url(../imagenes/f8.jpg);
  background-attachment: fixed;
  background-size: 1920px;
  position: relative; }

.body_contacto:before {
  content: '';
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8; }

.position_1 {
  position: relative; }
  .position_1 .text_color {
    color: white; }
    .position_1 .text_color h1 {
      font-size: 50px;
      font-family: 'Kaushan Script', cursive; }
    .position_1 .text_color p {
      font-size: 20px;
      font-family: "Archivo Narrow", sans-serif; }

footer {
  margin-top: 200px;
  position: relative;
  background-color: #272727; }
  footer p {
    color: white;
    font-size: 15px;
    font-family: "Archivo Narrow", sans-serif; }
  footer .icono-1, footer .icono-2, footer .icono-3, footer .icono-4 {
    font-size: 46px; }
  footer .icono-1 i {
    color: #083aa7; }
  footer .icono-2 i {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; }
  footer .icono-3 i {
    color: #1DA1F2; }
  footer .icono-4 i {
    color: red; }
